@model A_R_ClaimsViewModel
@{
    ViewData["Title"] = "AddUserToClaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>AddUserToClaim</h1>
@if (!Model.UserClaims.Any()) {
    <h1>یافت نشد "Claim" هیج</h1>
} else {
    <form asp-area="ClaimsArea" asp-controller="Claims" asp-action="AddUserToClaim" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        @for (int i = 0; i < Model.UserClaims.Count; i++) {
            <div class="form-group">
                <input asp-for="@Model.UserClaims[i].IsSelected" />
                <label>@Model.UserClaims[i].ClaimType</label>
                <input type="hidden" asp-for="@Model.UserClaims[i].ClaimType" />
            </div>
        }
        <input type="hidden" asp-for="@Model.UserId" />
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
}